server:
  port: 8080

spring:
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
      - org.springframework.boot.autoconfigure.jdbc.DataSourceTransactionManagerAutoConfiguration
  application:
    name: leot-gateway
  # 文件上传配置 - 网关层面的大小限制
  codec:
    max-in-memory-size: 10MB
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
    gateway:
      routes:
        - id: user
          uri: lb://user-service
          predicates:
            - Path=/api/user/**
          filters:
            - StripPrefix=1
        - id: bagu
          uri: lb://bagu-service
          predicates:
            - Path=/api/bagu/**
          filters:
            - RewritePath=/api/bagu/(?<segment>.*), /$\{segment}

